/.venv/
.idea
/src/schedule.lp
/src/timetable.xlsx
/src/timetable_solution.xlsx
/src/db/rasp3-new-calculation.laccdb
/src/timetable_or_tools_FINAL_solution.xlsx
/src/timetable_or_tools_solution.xlsx
/src/rasp_data_generated.py
/src/timetable_or_tools_solution prep -164.xlsx
*.env
.env
/docker/PY/
/timetable_or_tools_solution.xlsx
/backend/node_modules/
/docker-compose-full/mysql/certs/

/docker-python3.12/PY/
/docker-compose-full/nodejs-app/dist/
/docker-compose-full/nodejs-app/node_modules/
/docker-python3.12/scripts/
/docker-compose-full/scripts/create-docker.sh
/docker-compose-full/scripts/delete-docker.sh
/docker-compose-full/nodejs-app/scripts/create-docker.sh
/docker-compose-full/nodejs-app/scripts/delete-docker.sh
/ya-cloud/.env.json
