/.venv/
.idea
/src/schedule.lp
/src/timetable.xlsx
/src/timetable_solution.xlsx
/src/db/rasp3-new-calculation.laccdb
/src/timetable_or_tools_FINAL_solution.xlsx
/src/timetable_or_tools_solution.xlsx
/src/rasp_data_generated.py
/src/timetable_or_tools_solution prep -164.xlsx
*.env
.env
/docker/PY/
/timetable_or_tools_solution.xlsx
/backend/node_modules/
/docker-compose-full/mysql/certs/
/docker-compose-full/beget.txt
