# Папка, которую нужно исключить
responce/
output/
db-access-old/

# --- Общие рекомендации ---

# Файлы и папки Git
.git
.gitignore

# Файлы Docker (не нужны внутри самого образа)
Dockerfile
Dockerfile-yandex
.dockerignore

# Кэш и виртуальные окружения Python
__pycache__/
*.pyc
.venv/
venv/

# Файлы IDE
.idea/
.vscode/